#framecontent{
  border : 1px solid black;
position :absolute;
background : #e3e3e3;
top : 80px;
left : 10px;
width : 230px;
height : 100%;
overflow : hidden;


}


#maincontent{
border : 1px solid black;
position : fixed;
height : 100%;
overflow: auto;
left : 240px;
top : 80px;
width : 100%;


}

.innercontent {
margin : 5px;
}



#right_frame{
  border : 1px solid black;
position :fixed;
background : #e3e3e3;
top : 0px;
left : 800px;
width : 750px;
height : 100%;
overflow : auto;


}


#left_frame{

border : 1px solid black;
position : absolute;
height : 100%;
overflow: auto;
left : 50px;
top : 0px;
width : 750px;

}