#framecontent{
  border : 1px solid black;
position :fixed;
background : #e3e3e3;
top : 50px;
left : 10px;
width : 230px;
height : 100%;
overflow : hidden;


}


#maincontent{
border : 1px solid black;
position : fixed;
height : 100%;
overflow: auto;
left : 240px;
top : 50px;
width : 100%;


}


.innercontent {
	
	margin : 5px;
}