
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset='utf-8' />
<!-- Always force latest IE rendering engine (even in intranet) and Chrome Frame -->
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
<title>Mobion APIs Doc</title>
<link 
	href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700'
	rel='stylesheet' type='text/css' />
<link
	href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css'
	media='screen' rel='stylesheet' type='text/css' />
<link  
	href="@routes.Assets.at("stylesheets/screen.css")"
	rel="stylesheet" media="screen"/>
<link  
	href="@routes.Assets.at("stylesheets/thickbox.css")"
	rel="stylesheet" media="screen"/>
		

<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.tmpl.js")"></script>
<script src="@routes.Assets.at("javascripts/form2js.js")"></script>
<script src="@routes.Assets.at("javascripts/spine.js")"></script>
<script src="@routes.Assets.at("javascripts/local.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")"></script>
<script src="@routes.Assets.at("javascripts/testcase.js")"></script>
<script src="@routes.Assets.at("javascripts/thickbox.js")"></script>
<script src="@routes.Assets.at("javascripts/api_version.js")"></script>
<link  
	href="@routes.Assets.at("stylesheets/compare.css")"
	rel="stylesheet" media="screen"/>
	



</head>
<body>
<form id='api_selector' style="display :none;">
		<div class='input'>
			<input placeholder="http://api.sgcharo.com/mobion" id="input_baseUrl"
				name="baseUrl" type="text" value= />
		</div>
		<div class='input'>
			<input placeholder="token" id="input_apiKey" name="apiKey"
				type="text" />
		</div>
		<div class='input'>
			<input placeholder="api name" id="filter" name="filter" type="text" />
		</div>
		<div class='input'>
			<a id="explore" href="javascript:void(0)">Explore</a>
		</div>
	</form>
	<h3 style="text-align: center;color : blue;">API Version Management</h3>
<div id="framecontent">
	<div class="innercontent"></div>
</div>

<div id="maincontent">
	<div class="innercontent">
		@api_index()
	</div>
</div>
<script type="text/javascript">
	new ApiVersionMain({
		el : $('#framecontent')
	});
</script>
</body>
</html>