@(parentId : String, id: String, apiPath : String, operation : models.APIOperation, isAdd : Boolean, idTestcase : String ="", ver : String ="")
@defining(util.StringUtil.formatId(parentId + "_" + id + "_" + operation.nickname + "_" + operation.httpMethod + ver)) { op_id =>
<li class="@operation.httpMethod.toLowerCase() operation"
	id="@op_id">
	
	<div class='heading'>
		<h3>
			<span class='http_method'> <a href="javascript:void(0)">@operation.httpMethod</a></span>
			<span class='path'> <a href="javascript:void(0)">@apiPath</a></span>
		</h3>
		<ul class='options'>
			<li>@operation.summary</li>
			@if(ver == ""){
				@if(isAdd){
					<li><a href="javascript:void(0)" class="add_ope_item" id="id_@operation.id">Add</a></li>	
				}else{
					<li><a href="javascript:void(0)" class="remove_api_item" id="id_@operation.id">Remove</a></li>
					<li><a href="javascript:void(0)" class="run_status" id="id_@operation.id"></a></li>
				}
			}
		</ul>
		<input type="hidden" name="apiConfigId" value="@operation.apiConfigId"/>
	</div> 
	
	<script type="text/javascript">
		var id = '@op_id';
		var el = $("#" + id);
		
		@if(idTestcase != ""){
			el = $("#testcase_@idTestcase  #" + id);
		}
		 new Operation({
			
			el: el,
			id : id,
			testcase_id : "@idTestcase",
			path : "@apiPath",
			http_method: "@operation.httpMethod.toLowerCase()"
			
		}); 
	</script>
	@params_list(op_id, operation, ver)
</li>
}