<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta charset='utf-8' />
<!-- Always force latest IE rendering engine (even in intranet) and Chrome Frame -->
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
<title>Mobion APIs Doc</title>
<link 
	href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700'
	rel='stylesheet' type='text/css' />
<!-- <link -->
<!-- 	href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css' -->
<!-- 	media='screen' rel='stylesheet' type='text/css' /> -->

<link  
	href="@routes.Assets.at("stylesheets/jquery-ui.css")"
	rel="stylesheet" media="screen"/>
<link  
	href="@routes.Assets.at("stylesheets/screen.css")"
	rel="stylesheet" media="screen"/>
<link  
	href="@routes.Assets.at("stylesheets/thickbox.css")"
	rel="stylesheet" media="screen"/>
		

<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.tmpl.js")"></script>
<script src="@routes.Assets.at("javascripts/form2js.js")"></script>
<script src="@routes.Assets.at("javascripts/spine.js")"></script>
<script src="@routes.Assets.at("javascripts/local.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")"></script>
<script src="@routes.Assets.at("javascripts/testcase.js")"></script>
<script src="@routes.Assets.at("javascripts/thickbox.js")"></script>


</head>


<body>


<input class="thickbox" style="display:none" type="button"  value="Add List Function" alt="#TB_inline?height=600&width=1240&inlineId=apiThickbox" />

<div id="apiThickbox" style="display:none">
		

		<form id='api_selector'>
			<div class='input'>
				<input placeholder="http://api.sgcharo.com/mobion" id="input_baseUrl" name="baseUrl" type="text" value="http://api.sgcharo.com/mobion" />
			</div>
			
			<div class='input'>
				<input placeholder="token" id="input_apiKey" name="apiKey"	type="text" />
			</div>
			
			<div class='input'>
				<input placeholder="api name" id="filter" name="filter" type="text" />
			</div>
			<div class='input'>
				<a id="explore" href="javascript:void(0)">Explore</a>
			</div>
	   </form>
		
		
		<form id="add_api_2_testcase_form" style="display:none">
			<input type="hidden" name="id" id="testcase_id" value=""></input>
			<dl>
			</dl>
		</form>
		<input type="button" value="Save" class="save_list_function"/>
		<div id="content_message"></div>


		<div id="resources_list" style="display: none" ></div>
		
		
</div>
		



  <div style="margin-bottom: 120px;">
	<form id='add_testcase_form'>
			<input id="name" name="name" type="text" /> 
			<a id="add_testcase_bt"	href="javascript:void(0)">Add</a>
		</form>
		<div id="testcase_list"></div>
   </div>

</body>
</html>


	<script type="text/javascript">
	
	 	new Main({
			el: $('body'),
		});
		 new TestCaseMain({
				el: $('body')
			}); 
	</script>
	
	<script id="apiConfigs_template" type="text/x-jquery-tmpl">
		<dd class="new_added_apis" id="new_added_api_${id}">
			<input name="apiConfigs[${index}].params" value = '${params}' type="hidden"/>		
			<input name="apiConfigs[${index}].apiId" value = "${apiId}" type="hidden"/>
		</dd>
    </script>
