<div id="testcase_tab">

	<input class="thickbox" style="display: none" type="button"
		value="Add List Function"
		alt="#TB_inline?height=600&width=1240&inlineId=apiThickbox" />

	<div id="apiThickbox" style="display: none">



		<form id="add_api_2_testcase_form" style="display: none">
			<input type="hidden" name="id" id="testcase_id" value=""></input>
			<dl>
			</dl>
		</form>
		<input type="button" value="Save" class="save_list_function" />
		<div id="content_message"></div>

		<div id="resources_list" style="display: none"></div>
	</div>


	<div style="margin-bottom: 120px;">
		<form id='add_testcase_form'>
			<input id="name" name="name" type="text" /> <a id="add_testcase_bt"
				href="javascript:void(0)">Add</a>
		</form>
		<div id="testcase_list"></div>
	</div>
</div>


<script type="text/javascript">
	new TestCaseMain({
		el : $('body')
	});
</script>

<script id="apiConfigs_template" type="text/x-jquery-tmpl">
		<dd class="new_added_apis" id="new_added_api_${id}">
			<input name="apiConfigs[${index}].params" value = '${params}' type="hidden"/>
			<input name="apiConfigs[${index}].expert_params" value = "${exp_params}" type="hidden"/>		
			<input name="apiConfigs[${index}].apiId" value = "${apiId}" type="hidden"/>
		</dd>
    </script>
