@**
Template for resource/testcase
_type = resource
_type = testcase	
**@

@(id : String, name : String)
<li class='resource' id="testcase_@id">
	<div class='heading'>
		<h2>
			<a href='#!/@id' id="get_detail_bt">@name</a>
		</h2>
		<ul class='options'>
			<li class="show_hide"><a href='javascript:void(0)'
				id='endpointListTogger_@id'>Show/Hide</a></li>
			<li class="add_ops"><a href='javascript:void(0)'>Add Operations </a></li>	
			<li class="list_ops"><a href='javascript:void(0)'>List Operations </a></li>
			<li class="expand_ops"><a href='javascript:void(0)'>Expand Operations </a></li>
			<li class="raw" id="delete_testcase_bt"><a href='javascript:void(0)'>Delete</a></li>
		</ul>

		<ul class='endpoints' id="@id&#95endpoint_list'">
		</ul>
	</div> 
	<script type="text/javascript">
		new TestCase({
			el : $('#testcase_@id'),
			id : "@id"
		});
	</script>


</li>
