
<link  	href="@routes.Assets.at("stylesheets/compare.css")"	rel="stylesheet" media="screen"/>
<script src="@routes.Assets.at("javascripts/api_version.js")"></script>



<!-- <form id='api_selector' style="display :none;"> -->
<!-- 		<div class='input'> -->
<!-- 			<input placeholder="http://api.sgcharo.com/mobion" id="input_baseUrl" -->
<!-- 				name="baseUrl" type="text" value= /> -->
<!-- 		</div> -->
<!-- 		<div class='input'> -->
<!-- 			<input placeholder="token" id="input_apiKey" name="apiKey" -->
<!-- 				type="text" /> -->
<!-- 		</div> -->
<!-- 		<div class='input'> -->
<!-- 			<input placeholder="api name" id="filter" name="filter" type="text" /> -->
<!-- 		</div> -->
<!-- 		<div class='input'> -->
<!-- 			<a id="explore" href="javascript:void(0)">Explore</a> -->
<!-- 		</div> -->
<!-- 	</form> -->
<!-- 	<h3 style="text-align: center;color : blue;">API Version Management</h3> -->
<input type="button" value="Compare"  id="compare" />
<div id="framecontent">
	<div class="innercontent"></div>
</div>

<div id="maincontent">
	<div class="innercontent">
		@api_index()
	</div>
</div>
<script type="text/javascript">
	new ApiVersionMain({
		el : $('body')
	});
</script>
